@using QuizAppCore.Entities;
@{
    
    var subjects = ViewBag.Subjects as List<Subject>;
    
}

<div class="pagetitle">
    <h1>Quiz</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Quiz</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<div class="pagetitle ">
    <button class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#basicModal">Create</button>
</div>

<section class="section dashboard">
    <div class="row">
        <!-- Left side columns -->
        <div class="col-lg-12">
            <div class="row">
                <!-- Sales Card -->
                <div class="col-xxl-3 col-md-4">
                    <div class="card info-card sales-card">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Filter</h6>
                                </li>

                                <li><a class="dropdown-item" href="#">Today</a></li>
                                <li><a class="dropdown-item" href="#">This Month</a></li>
                                <li><a class="dropdown-item" href="#">This Year</a></li>
                            </ul>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Sales <span>| Today</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-cart"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>145</h6>
                                    <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>

                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Sales Card -->


            </div>
        </div>
    </div>
</section>

<!-- Start Modal-->

<div class="modal fade" id="basicModal" tabindex="-1">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Quiz</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Floating Labels Form -->
            <form class="row g-3" id="createForm">
                
                <div class="modal-body">
                    
                        <div class="col-md-12">
                            <div class="form-floating">
                            <input type="text" class="form-control" id="Title" placeholder="Your Name" name="Title">
                            <label for="Title">Quiz Title</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                            <select class="form-select" id="SubjectId" aria-label="Subject" name="SubjectId">
                                    <option selected></option>
                                @if (subjects != null)
                                {
                                    @foreach (var std in subjects)
                                    {
                                        <option value="@std.SubjectId">@std.Name</option>
                                    }

                                }

                                </select>
                            <label for="SubjectId">Select a Subject</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="Duration" placeholder="Duration" name="DurationMinutes">
                            <label for="Duration">Duration</label>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-warning " data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                    @* <input type="submit" value="Save Quiz" class="btn btn-primary" /> *@
              
                </div>
            </form><!-- End floating Labels Form -->
            
        </div>
    </div>
</div><!-- End  Modal-->

<script>
    
    $(document).ready(function () {
        $('#createForm').submit(function (e) {
            e.preventDefault();


         
            $.ajax({
                type: 'POST',
                url: "@Url.Action("CreateQuiz","Quiz")",
                contentType: 'application/x-www-form-urlencoded;charset=UTF-8',
                    data: {
                        "Title": $("#Title").val(),
                        "SubjectId": $("#SubjectId").val(),
                        "DurationMinutes": $("#Duration").val()
                    },
                success: function (data) {
                    // Handle the success response
                    console.log(data);
                },
                error: function (xhr, textStatus, errorThrown) {
                    // Handle the error response
                    console.error(xhr.responseText);
                }
            });
        });
    });

</script>
